.result__information {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(233, 233, 233, 0.568);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

.result__data {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
}

.result__weatherIcon {
  display: flex;
  align-items: center;
}
