.request__form {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
  background-color: rgb(53, 52, 52);
  padding: 8px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.request__input {
  border: none;
  width: 80%;
  background-color: rgb(53, 52, 52);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  font-size: 15px;
}

.request__input:focus-visible {
  outline: none;
}

.request__btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
}

.request__error {
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(195, 0, 0);
  opacity: 1;
  height: 10px;
  transition: all 1s ease;
}

.request__error_none {
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(195, 0, 0);
  opacity: 0;
  height: 0;
  transition: all 1s ease;
}
