.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
  overflow: hidden;
}

.request_title h1 {
  display: flex;
  width: 100%;
  font-size: 9vw;
  padding: 0;
  margin: 0 0 30px;
}

.request__form {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  width: 500px;
  background-color: rgb(53, 52, 52);
  padding: 20px;
  border-radius: 50px;
  z-index: 1;
}

.request__input {
  border: none;
  width: 80%;
  background-color: rgb(53, 52, 52);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  font-size: 40px;
  font-family: "Jost", sans-serif;
}

.request__input:focus-visible {
  outline: none;
}

.request__btn {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  font-size: 30px;
}

.request__error {
  display: block;
  width: 100%;
  text-align: right;
  color: rgb(195, 0, 0);
  opacity: 1;
  height: 10px;
  transition: height 0.5s ease;
  font-size: 30px;
}

.request__error_none {
  display: block;
  width: 100%;
  text-align: center;
  color: rgb(195, 0, 0);
  opacity: 0;
  height: 0;
  transition: all 1s ease;
}

@media screen and (min-width: 1600px) {
  .request_title h1 {
    font-size: 145px;
  }
}
