.result__weatherInfo {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;  
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.753);
}

.result__weather {
  height: 60px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.result__weather img {
  display: block;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.226);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.226);
}

.result__paragraph {
  margin: 0 0 10px 0;
}

.result__humidity {
    display: flex;
    flex-direction: column;
}
