.resultItems {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.resultItem {
    width: 150px;
}

.result__data {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.5em;
}

.result__information {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(233, 233, 233, 0.568);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.result__temperature {
    border-radius: 20px;
    color: rgb(255, 145, 0);
    background-color: rgba(255, 255, 255, 0.568);
    font-weight: bold;
    padding: 5px 0;
}

.result__temperature_now {
    font-size: 20px;
    margin-bottom: 5px;
}

.result__temperature_feels p {
    padding: 0;
    margin: 0;
    font-size: 10px;
}