.result__temp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  width: 280px;
  height: 280px;
  padding: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  overflow: hidden;

  background: linear-gradient(
    245deg,
    transparent 45px,
    rgba(255, 255, 255, 0.671) 0
  );
}

.result__tempTitle {
  font-size: 30px;
  margin-left: 10px;
}

.result__tempValue {
  width: 100%;
  font-size: 150px;
  text-align: center;
  color: rgb(255, 138, 29);
}
.result__tempFeels {
  text-align: right;
  align-items: end;
  margin-right: 10px;
  font-size: 30px;
}
