.result__day {
  color: rgb(0, 0, 0);
}

.result__day_temp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 5px 3%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.459);
}

.result__day_params {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
